@import url('https://fonts.googleapis.com/css?family=Lato:400&display=swap');

/*

    body :
        - padding 50px

    card :
        - box-shadow: 0 2px 20px 0 rgba(0,0,0,.1)

    card (zone image)
        height: 300px
    
    main :
        - max-width 1000px

    color-text: #3f1052;
    color-green: #24cfcf;
    color-background (header):#dbc4e4;


*/
